<!DOCTYPE html>
<html>
<head>
  <title>Print test</title>
  <link rel="stylesheet" type="text/css" href="../../themes/chargen.css">
  <link rel="stylesheet" type="text/css" href="../../../../numenera/cyphergen/themes/cyphergen.css">
</head>
<body class="tundra cr-CharacterRecordBase">
<!--
<div>
  <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 1; opacity: 1; display: block;">
    <div class="cr-CharacterRecordBase">
      <div class="cr-uiControl">UI controls</div>
      <div>
        <div>
          <div class="cr-CharacterRecordPage1">
            <table class="cr-CharacterRecordContent">
              <tbody>
              <tr>
                <td>
                  <div>Fourscore and seven years ago our fathers brought forth upon this continent a new nation, conceived in liberty and dedicated to the proposition that all men are created equal.</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="cr-pageBreak"></div>
          <div class="cr-CharacterRecordPage2 cr-hideInCompact">
            <table class="cr-CharacterRecordContent">
              <tbody>
              <tr>
                <td>
                  <div>Now we are met on the battlefield of a great civil war, testing whether this nation, or any nation so conceived and so dedicated, can long endure.</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="cr-pageBreak"></div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
</body>
</html>