<div class="num-homebrewPane">
  <div data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-props="gutters:false"
    data-dojo-attach-point="gridWidget">
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'top'">
      <div class="num-centeredLinks" style="padding-top:40px;text-align:center;" data-dojo-attach-point="moduleControlsNode">
      </div>
      <div>
        <h1 class="num-helpViewerTitle">Numenera Homebrew Tools <span style="font-size:13px">[beta]</span></h1>
      </div>
    </div>
    <div data-dojo-type="dijit/layout/TabContainer"
      data-dojo-props="region:'center'" style="width:1000px;"
      data-dojo-attach-point="mainTabContainer"
            class="num-homebrewTabContainer"></div>
    <div data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region:'bottom'" class="num-footer"
         data-dojo-attach-point="footerNode">
      <div class="num-copyright" style="cursor: pointer" data-dojo-attach-event="onClick:showLicenses">
        ${controller.copyright} • Version ${controller.version}
      </div>
    </div>
  </div>
</div>