<div>
  <h2>Add ${featureLabel}</h2>
  <table class="cg-baseFieldContainer" style="width:700px">
    <tbody>
    <tr>
      <td align="right">Name:</td>
      <td>
        <input type="text" data-dojo-attach-point="labelField" data-dojo-type="dijit/form/TextBox" data-dojo-attach-event="onChange:checkCreate" style="width:100%"/>
      </td>
    </tr>
    <tr>
      <td align="right">Based on:</td>
      <td>
        <select data-dojo-attach-point="templateSelect" data-dojo-attach-event="onChange:checkCreate">
        </select>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: right;padding-right:45px;">
    <button data-dojo-attach-point="createButton" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:createItem" disabled="disabled">Create</button>
  </div>
</div>