<table cellpadding="0" cellspacing="0" style="margin-bottom:1px;">
  <tbody>
  <tr>
    <td>
      <input data-dojo-attach-point="control" data-dojo-type="dijit/form/TextBox" class="cg-optionItem"/>
    </td>
    <td style="padding:0 2px 0 2px">
      <span data-dojo-attach-point="destroyNode" data-dojo-attach-event="onClick:pleaseDestroyMe">
        <i class="fa num-redIcon fa-times-circle num-activeControl"></i>
      </span>
      <span data-dojo-attach-point="addNode" data-dojo-attach-event="onClick:pleaseAddMe" style="display:none">
        <i class="fa num-blueIcon fa-plus-circle num-activeControl"></i>
      </span>
    </td>
  </tr>
  </tbody>
</table>