<a class="dijit dijitReset dijitInline dijitButton" href="${link}" download="${download}">
  <span class="dijitReset dijitInline dijitButtonNode">
    <span class="dijitReset dijitStretch dijitButtonContents"
      style="-moz-user-select: none;">
      <span class="dijitReset dijitInline dijitIcon dijitNoIcon"></span>
      <span class="dijitReset dijitToggleButtonIconChar">●</span>
      <span class="dijitReset dijitInline dijitButtonText"><i class="${iconClass}"></i> ${label}</span>
    </span>
  </span>
  <input type="button" class="dijitOffScreen" value=""/>
</a>
