<div class="num-helpViewer">
  <div data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-props="gutters:false">
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'top'">
      <button data-dojo-type="dojox/mobile/ToolBarButton"
        style="float: left;margin:22px -50px 0 0;"
        data-dojo-attach-event="onClick:hide"
        data-dojo-props="arrow:'left'">
        Back
      </button>
      <div>
        <h1 class="num-helpViewerTitle">${title}</h1>
      </div>
    </div>
    <div data-dojo-type="dijit/layout/TabContainer"
      data-dojo-props="region:'center'"
      data-dojo-attach-point="mainTabContainer"></div>
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'bottom'">
      <div class="num-copyright">${copyright}</div>
    </div>
  </div>
</div>