<li class="cg-${from}">
  <div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td style="width: 30px;" class="num-hiddenControl num-deleteControl">
          <input type="checkbox" data-dojo-attach-point="deleteControl"
            data-dojo-attach-event="onClick:toggleDeleted" checked="checked"/>
        </td>
        <td data-dojo-attach-point="baseTextNode"
          class="num-baseTextNode num-deletable">${baseText}</td>
        <td>&nbsp;<input type="text" data-dojo-attach-point="inputNode"
          class="num-itemInput cg-storeMe num-valueNotSet num-deletable"
          value="${inputValue}"
          data-dojo-attach-event="onKeyDown:normalizeClass,onClick:selectContent,onFocus:selectContent,onChange:dataChanged,onBlur:onBlurInput" />
        </td>
        <td>
          <div data-dojo-attach-point="unlockControlNode"
            style="display: none"></div>
        </td>
      </tr>
    </table>
  </div>
</li>