<tr class="cg-tierRow">
  <td class="cg-tierTitleCell" style="text-align: center">
    <div class="cg-tierTitleWrapper">
      <h3 class="cg-tierTitle">Tier ${tier}</h3>
    </div>
  </td>
  <td class="cg-tierContent">
    <div data-dojo-attach-point="freeBenefitsNode">
      <h3 style="display: none;"
        data-dojo-attach-point="tierPerkTitleNode">${specialAbilityName}</h3>
      <ul data-dojo-attach-point="characterTierAbility">
      </ul>
    </div>
    <h3 style="display: none;"
      data-dojo-attach-point="bonusPerksTitleNode">
      Other Benefits
      <button style="display: none" data-dojo-type="dijit/form/Button"
        data-dojo-attach-point="customizeFocusButton"
        data-dojo-attach-event="onClick:customizeFocus"
        class="num-smallButton">
        <i class="fa fa-gears"></i>
      </button>
    </h3>
    <ul data-dojo-attach-point="bonusPerksNode"></ul>
    <div data-dojo-attach-point="purchasedBenefitsNode"
      style="display: none">
      <h3>Purchased Benefits</h3>
      <ul>
        <li>
          <div style="vertical-align: bottom;">
            Raise: <label><input class="cg-storeMe"
              type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="pool_checkbox"
              data-dojo-attach-event="onChange:checkApplyButton" />
              Pools</label> <label><input class="cg-storeMe"
              type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="edge_checkbox"
              data-dojo-attach-event="onChange:checkApplyButton" /> Edge</label>
            <label><input class="cg-storeMe" type="checkbox" data-dojo-type="dijit/form/CheckBox"
              data-dojo-attach-point="effort_checkbox"
              data-dojo-attach-event="onChange:checkApplyButton" />
              Effort</label>
          </div>
        </li>
        <li data-dojo-attach-point="skillTypeSelectorContainer">
          <div>
            <select class="cg-storeMe"
              data-dojo-attach-point="skillTypeSelector"
              data-dojo-attach-event="onChange:checkSkillType">
              <option>-- choose --</option>
              <option>Skill</option>
              <option>Reduce Armor Cost</option>
              <option>Recovery +2</option>
              <option>${specialAbilityName}</option>
            </select>
          </div>
        </li>
        <li data-dojo-attach-point="inputNodeContainer"
          style="display: none;">
          <div>
            <table>
              <tbody>
                <tr>
                  <td class="num-baseTextNode">Ⓣ</td>
                  <td>&nbsp;<input type="text"
                    class="cg-storeMe num-itemInput num-valueNotSet"
                    data-dojo-attach-point="inputNode"
                    value="${inputValue}"
                    data-dojo-attach-event="onFocus:onFocusinputNode,onBlur:onBlurinputNode" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li data-dojo-attach-point="perkSelectorContainer"
          style="display: none;">
          <div>
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td>
                <span data-dojo-attach-point="perkSelectorDisabledDisplay"></span>
                <select class="cg-storeMe"
                  data-dojo-attach-point="perkSelector"
                  data-dojo-attach-event="onChange:checkApplyButton">
                    <option>-- choose --</option>
                </select></td>
                <td>
                  <div data-dojo-attach-point="unlockControlNode"
                    style="display: none"></div>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>

  </td>
  <td class="cg-smallCell">
    <button data-dojo-type="dijit/form/Button"
      data-dojo-attach-event="onClick:applyAdvancement"
      data-dojo-attach-point="applyButton">
      <i class="fa fa-check-circle-o num-greenButton"></i> Apply
    </button>
  </td>
</tr>