<div data-dojo-attach-point="basicControlsNode" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;">
  <div data-dojo-attach-point="decorationNode" style="padding-top:40px;">
    <div class="num-centeredLinks">
      <a href="index.html">Character Creation Utility</a> | Cypher Generator |
      <a data-dojo-attach-event="onClick:showHelp" class="num-infoLink"><i
        class="icon-question-sign"></i></a>
    </div>
    <a href="http://www.numenera.com" class="num-mainTitle">NumenérA<span class="num-tm">&trade;</span></a>
    <div class="num-blurb">Cypher Generator</div>
  </div>
  <div>
    <div class="cy-cardContainer">
      <div data-dojo-attach-point="cypherCardBack" class="cy-cypherCard cy-cypherCardBack"></div>
      <div data-dojo-attach-point="cypherCardFront" class="cy-cypherCard cy-cypherCardFront" style="display:none"></div>
      <div data-dojo-attach-point="cypherCardOverlay" class="cy-cypherCardOverlay" data-dojo-attach-event="onClick:toggleCypher"></div>
    </div>
    <div>
      <div class="num-whiteKnot">
      <!-- 
        <form data-dojo-attach-point="modeForm" style="padding:40px 0 0 0;color:#808080;">
        <table style="width:400px;margin:0 auto 0 auto;">
          <tbody>
            <tr>
              <td>
                <label>Cyphers <input name="type" type="radio" value="cyphers" checked="checked"></label>
              </td>
              <td>
              </td>
              <td>
                <label><input name="type" type="radio" value="artifacts"> Artifacts</label>
              </td>
            </tr>
          </tbody>
        </table>
        </form>
       -->
      </div>
        
    </div>
    <div data-dojo-attach-point="debugNode"></div>
    <div style="width:850px;margin-left:auto;margin-right:auto;">
      <div class="num-copyright" style="width:850px;position:absolute;bottom:10px;">
      <span style="cursor:pointer" data-dojo-attach-event="onClick:showLicenses">
        Numenera and its logo are trademarks of Monte Cook Games, LLC in
        the U.S.A. and other countries. All Monte Cook Games characters
        and character names, and the distinctive likenesses thereof, are
        trademarks of Monte Cook Games, LLC. Content derived from Monte
        Cook Games publications is © 2013 Monte Cook Games, LLC. <br/>The
        Character Creation Utility is an unofficial project by Petteri
        Sulonen.</span> • <a class="num-versionInfo"
          data-dojo-attach-event="onClick:showLicenses">Licenses</a> • <span
          class="num-versionInfo"> <a
          data-dojo-attach-event="onClick:showChangeLog">Version
            ${version}</a>
        </span>
      </div>
    </div>
  </div>
</div>
