/**
 * Main Cypher Generator stylesheet.
 */

.cy-cypherGenerator
{
	background-color : #282828;
	background-image : url( '../../../cypher/themes/images/grain-dark.png' );
}
/* cyphergen */
.cy-cardContainer
{
	position : relative;
	margin-top : 50px;
	margin-left : auto;
	margin-right : auto;
    width : 340px;
    height : 490px;
    cursor : pointer;
}
.cy-cypherCard
{
	position : absolute;
	top : 0;
	left : 0;
	bottom : 0;
	right : 0;
    box-shadow: 10px 10px 20px #000000;
    border-radius : 10px;
    border : 20px solid #f4f4f0;
    width : 300px;
    height : 450px;
}
.cy-cypherCardFront
{
	border-color : #f4f4f0;
	background-color : #f4f4f0;
	color : black;
}
.cy-cypherCardBack
{
	background-image : url( 'images/rustcard.jpg' );
	background-size : 100% auto;
	color : black;
}
.cy-cypherName
{
	text-transform : capitalize;
	font-size : 22px;
	margin-bottom : 0;
}
.cy-cypherType
{
    text-transform : capitalize;
    color : gray;
}
.cy-cypherLevel
{
}
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered
*/
.flip-container.hover .flip-flipper {
    transform: rotateY(180deg);
}

.flip-container, .flip-front, .flip-back {
}

/* flip speed goes here */
.flip-flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.flip-front, .flip-back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.flip-front {
    z-index: 2;
}

/* back, initially hidden pane */
.flip-back {
    transform: rotateY(180deg);
}
