<div class="cg-imageContainer">
  <span data-dojo-attach-point="inputContainer">
    <input type="text" class="num-itemInput num-valueNotSet" style="display:inline-block;text-align:center;" data-dojo-attach-point="inputNode" value="${inputValue}" data-dojo-attach-event="onKeyDown:normalizeClass,onClick:selectContent,onFocus:selectContent,onChange:dataChanged,onBlur:onBlurInput"/>
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:setImage"><i class="icon-ok-circle"></i> Set</button>
  </span>
  <span data-dojo-attach-point="imageContainer" style="display:none">
    <img data-dojo-attach-point="imageNode" data-dojo-attach-event="onClick:changeImage" style="width:auto;height:${height}px;" alt="click to change"/>
  </span>
</div>