<li class="cg-${from}">
  <div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td data-dojo-attach-point="baseTextNode" class="cg-baseTextNode">${baseText}&nbsp;</td>
        <td style="width:400px;">
          <input type="text" data-dojo-attach-point="inputNode" class="cg-itemInput cg-storeMe cg-valueNotSet" value="${inputValue}" data-dojo-attach-event="onKeyDown:normalizeClass,onClick:selectContent,onFocus:selectContent,onChange:dataChanged,onBlur:onBlurInput"/>
        </td>
        <td>
          <button data-dojo-attach-point="deleteControl" class="cg-hiddenControl cg-deleteControl" data-dojo-attach-event="onClick:deleteMe">
          ⊖
          </button>
          <div data-dojo-attach-point="unlockControlNode" style="display:none">
          </div>
        </td>
      </tr>
    </table>
  </div>
</li>