<li class="cg-${from}">
  <div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td data-dojo-attach-point="baseTextNode" class="cg-baseTextNode">${baseText}</td>
        <td>
          <input type="text" data-dojo-attach-point="inputNode" class="cg-itemInput cg-storeMe cg-valueNotSet" value="${inputValue}" data-dojo-attach-event="onKeyDown:normalizeClass,onClick:selectContent,onFocus:selectContent,onChange:dataChanged"/>
        </td>
        <td>
          <div data-dojo-attach-point="unlockControlNode" style="display:none">
          </div>
        </td>
      </tr>
    </table>
  </div>
</li>