<div class="pv-playViewRoot">
  <div class="pv-copyright" style="">Numenera and its logo
    are trademarks of Monte Cook Games, LLC in the U.S.A. and
    other countries. All Monte Cook Games characters and character
    names, and the distinctive likenesses thereof, are trademarks
    of Monte Cook Games, LLC. Content derived from Monte Cook
    Games publications is © 2013 Monte Cook Games, LLC.</div>

  <div>
    <div data-dojo-type="dojox/mobile/TabBar"
      data-dojo-props="fill:'always'">
      <div data-dojo-type="dojox/mobile/TabBarButton"
        data-dojo-attach-event='onClick:closeMe'>
        <i class="fa fa-resize-small num-blueIcon"></i>
      </div>
      <div data-dojo-type="dojox/mobile/TabBarButton"
        data-dojo-attach-event="onClick:toDescriptionView">
        <i class="fa fa-user"></i>
      </div>
      <div data-dojo-type="dojox/mobile/TabBarButton"
        data-dojo-attach-event="onClick:toStatsView"
        data-dojo-props='selected:true'>
        <i class="fa fa-dashboard"></i>
      </div>
      <div data-dojo-type="dojox/mobile/TabBarButton"
        data-dojo-attach-event="onClick:toAbilitiesView">
        <i class="fa fa-bolt"></i>
      </div>
      <div data-dojo-type="dojox/mobile/TabBarButton"
        data-dojo-attach-event="onClick:toPossessionsView">
        <i class="fa fa-suitcase"></i>
      </div>
    </div>
    <div data-dojo-type="dojox/mobile/View" data-dojo-attach-point="descriptionView"
      class="pv-viewWrapper">
      <div class="pv-viewContent">
        <div class="cr-marker cr-listBox cr-frontpage">
          <div class="cr-content">
            <div style="text-align: center; padding: 20px;">
              <img data-dojo-attach-point="portraitImage"
                style="width: 300px; height: auto;"
                style="visibility:hidden" />
              <div class="cr-copyright"
                data-dojo-attach-point="portraitTMNode">TM and ©
                2013 Monte Cook Games, LLC</div>
            </div>
            <div style="text-align:center">
            <div class="cr-name" data-dojo-attach-point="name_field"></div>
            <span class="cr-definition">the</span>
            <span class="cr-definition">
              <span data-dojo-attach-point="descriptor_field"></span> <span
                data-dojo-attach-point="type_field"></span>
            </span>
            <span class="cr-definition">who</span>
            <span class="cr-definition">
              <span data-dojo-attach-point="focus_field"></span>
            </span>
            </div>
          </div>
        </div>
            <div style="text-align: center">
              <img class="cr-whiteKnot" src="${iconSource}/knot.png" />
            </div>

        <div class="cr-marker cr-listBox cr-background">
          <div class="cr-content">
            
            <h2 class="pv-heading">Background</h2>
            
            <div data-dojo-attach-point="description_text"
              class="pv-listContent"></div>
          </div>
        </div>

        <div class="cr-marker cr-listBox cr-notes">
          <div class="cr-content">
            
            <h2 class="pv-heading">Notes</h2>
            
            <div data-dojo-attach-point="notes_list"
              class="pv-listContent"></div>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dojox/mobile/View" data-dojo-attach-point="statsView" data-dojo-props="selected:true">
      <div class="pv-viewContent">
        <div class="cr-marker cr-listBox cr-stats">
          <div class="cr-content">
            <table>
              <tbody>
                <tr>
                  <td align="center" width="50">
                    <div class="pv-smallLabel">Tier</div>
                  </td>
                  <td width="190"></td>
                  <td colspan="3" align="center">
                    <div class="pv-smallLabel">XP</div>
                  </td>
                  <td colspan="3" align="center">
                    <div class="pv-smallLabel">Effort</div>
                  </td>
                  <td width="100"></td>
                  <td align="center" colspan="2">
                    <div class="pv-smallLabel">Recovery</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="cr-statBoxContainer">
                      <div class="cr-statBox pv-staticStatBox"
                        data-dojo-attach-point="character_tier"></div>
                    </div>
                  </td>
                  <td></td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="decrement_character_xp">
                      <i class="num-redIcon fa fa-minus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <div class="cr-statBox">
                      <span data-dojo-attach-point="character_xp"></span>
                    </div>
                  </td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="increment_character_xp">
                      <i class="num-blueIcon fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="decrement_character_effort">
                      <i class="num-redIcon fa fa-minus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <div class="cr-statBox"
                      data-dojo-attach-point="character_effort"></div>
                  </td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="increment_character_effort">
                      <i class="num-blueIcon fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td width="50"></td>
                  <td style="text-align: center">
                    <div class="cr-statBox pv-staticStatBox"
                      style="margin-left: auto; margin-right: auto;"
                      data-dojo-attach-point="recovery_roll"></div>
                  </td>
                  <td style="text-align: center">
                    <div class="cr-statBox pv-staticStatBox pv-activeStatBox"
                      style="margin-left: auto; margin-right: auto;"
                      data-dojo-attach-point="recovery_roll_control"
                      data-dojo-attach-event="onClick:recoveryRoll">A</div>
                  </td>
                </tr>
              </tbody>
            </table>
            

            <h2 class="pv-heading">Statistics</h2>
            

            <table>
              <tbody>
                <tr valign="top">
                  <td align="center" width="50">
                    <div class="pv-smallLabel">Edge</div>
                  </td>
                  <td width="190"></td>
                  <td></td>
                  <td align="center">
                    <div class="pv-smallLabel">Pool</div>
                  </td>
                  <td></td>
                  <td width="50"></td>
                  <td></td>
                  <td rowspan="4" width="145"></td>
                  <td rowspan="4" align="center">
                    <div class="pv-smallLabel" style="margin-bottom:20px">Damage track</div>
                    <div><i class="fa fa-circle num-largeIcon num-blueIcon" data-dojo-attach-point="damage_track_0_icon"></i></div>
                    <div><i class="fa fa-circle-o num-largeIcon num-redIcon num-grayIcon" data-dojo-attach-point="damage_track_1_icon"></i></div>
                    <div><i class="fa fa-circle-o num-largeIcon num-redIcon num-grayIcon" data-dojo-attach-point="damage_track_2_icon"></i></div>
                    <div><i class="fa fa-circle-o num-largeIcon num-grayIcon" data-dojo-attach-point="damage_track_3_icon"></i></div>
                  </td>
                </tr>
                <tr valign="middle">
                  <td>
                    <div class="cr-statBox pv-staticStatBox"
                      data-dojo-attach-point="might_edge"></div>
                  </td>
                  <td><h3 class="pv-heading"
                      style="text-align: center;">Might</h3></td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="decrement_might_pool">
                      <i class="num-redIcon fa fa-minus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <div class="cr-statBox"
                      data-dojo-attach-point="might_pool"></div>
                  </td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="increment_might_pool">
                      <i class="num-blueIcon fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td width="5"></td>
                  <td>
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="apply_might_pool_effort">
                      <i class="num-redIcon fa fa-heart"></i>
                    </button>
                  </td>
                </tr>
                <tr valign="middle">
                  <td>
                    <div class="cr-statBox pv-staticStatBox"
                      data-dojo-attach-point="speed_edge"></div>
                  </td>
                  <td><h3 class="pv-heading"
                      style="text-align: center;">Speed</h3></td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="decrement_speed_pool">
                      <i class="num-redIcon fa fa-minus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <div class="cr-statBox"
                      data-dojo-attach-point="speed_pool"></div>
                  </td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="increment_speed_pool">
                      <i class="num-blueIcon fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td width="5"></td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="apply_speed_pool_effort">
                      <i class="num-redIcon fa fa-heart"></i>
                    </button>
                  </td>
                </tr>
                <tr valign="middle">
                  <td>
                    <div class="cr-statBox pv-staticStatBox"
                      data-dojo-attach-point="intellect_edge"></div>
                  </td>
                  <td><h3 class="pv-heading"
                      style="text-align: center;">Intellect</h3></td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="decrement_intellect_pool">
                      <i class="num-redIcon fa fa-minus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <div class="cr-statBox"
                      data-dojo-attach-point="intellect_pool"></div>
                  </td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="increment_intellect_pool">
                      <i class="num-blueIcon fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td width="5"></td>
                  <td width="5">
                    <button class="cg-adjustButton"
                      data-dojo-type="dijit/form/Button"
                      data-dojo-attach-point="apply_intellect_pool_effort">
                      <i class="num-redIcon fa fa-heart"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <h2 class="pv-heading">Armor</h2>
            
            <table width="100%">
              <tbody>
                <tr valign="top">
                  <td width="25%">
                    <div class="pv-smallLabel" style="text-align:center">Heavy</div>
                    <div class="cr-statBox cr-armor pv-staticStatBox"
                      data-dojo-attach-point="armor_value_heavy"></div>
                    <div style="text-align: center">
                      (<span
                        data-dojo-attach-point="armor_speed_cost_heavy"></span>
                      s / <span
                        data-dojo-attach-point="armor_might_cost_heavy"></span>
                      m)
                    </div>
                  </td>
                  <td width="25%">
                    <div class="pv-smallLabel" style="text-align:center">Medium</div>
                    <div class="cr-statBox cr-armor pv-staticStatBox"
                      data-dojo-attach-point="armor_value_medium"></div>
                    <div style="text-align: center">
                      (<span
                        data-dojo-attach-point="armor_speed_cost_medium"></span>
                      s / <span
                        data-dojo-attach-point="armor_might_cost_medium"></span>
                      m)
                    </div>
                  </td>
                  <td width="25%">
                    <div class="pv-smallLabel" style="text-align:center">Light</div>
                    <div class="cr-statBox cr-armor pv-staticStatBox"
                      data-dojo-attach-point="armor_value_light"></div>
                    <div style="text-align: center">
                      (<span
                        data-dojo-attach-point="armor_speed_cost_light"></span>
                      s / <span
                        data-dojo-attach-point="armor_might_cost_light"></span>
                      m)
                    </div>
                  </td>
                  <td width="25%">
                    <div class="pv-smallLabel" style="text-align:center">None</div>
                    <div class="cr-statBox cr-armor pv-staticStatBox"
                      data-dojo-attach-point="armor_value_none"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="cr-marker cr-listBox cr-attacks">
          <div class="cr-content">
            
            <h2 class="pv-heading">Attacks</h2>
            
            <div data-dojo-attach-point="attack_list"
              class="pv-listContent"></div>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dojox/mobile/View" data-dojo-attach-point="abilitiesView">
      <div class="pv-viewContent">
        <div class="cr-content">
          
          <h2 class="pv-heading">Skills</h2>
          
          <div data-dojo-attach-point="ability_list"
            class="pv-listContent"></div>
          
          <h2 class="pv-heading">Special abilities</h2>
          
          <div data-dojo-attach-point="special_list"
            class="pv-listContent"></div>
          <div data-dojo-attach-point="inabilityContainer"
            style="display: none">
            
            <h2 class="pv-heading">Drawbacks and Inabilities</h2>
            

            <div data-dojo-attach-point="inability_list"
              class="pv-listContent"></div>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dojox/mobile/View" data-dojo-attach-point="possessionsView">
      <div class="pv-viewContent">
        <div class="cr-marker cr-listBox cr-cyphers">
          <div class="cr-content">
            <table class="cr-layoutTable" width="100%">
              <tbody>
                <tr valign="middle">
                  <td>
                    <h2 class="pv-heading" style="text-align: left;">Cyphers</h2>
                  </td>
                  <td width="70">
                    <table class="cr-cypherLimitTable">
                      <tbody>
                        <tr>
                          <td>
                            <div class="pv-smallLabel"
                              style="text-align: right;">Limit</div>
                          </td>
                          <td>
                            <div class="cr-statBox"
                              data-dojo-attach-point="cypher_count"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <div data-dojo-attach-point="cypher_list"
              class="pv-listContent"></div>
          </div>
        </div>
        <div class="cr-marker cr-listBox cr-equipment">
          <div class="cr-content">
            <table class="cr-layoutTable" width="100%">
              <tbody>
                <tr valign="middle">
                  <td>
                    <h2 class="pv-heading" style="text-align: left;">Possessions</h2>
                  </td>
                  <td width="70">
                    <table class="cr-cypherLimitTable">
                      <tbody>
                        <tr>
                          <td>
                            <div class="pv-smallLabel"
                              style="text-align: right;">Shins</div>
                          </td>
                          <td>
                            <div class="cr-statBox">
                              <span data-dojo-attach-point="shin_count"></span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <div data-dojo-attach-point="equipment_list"
              class="pv-listContent"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>