<div data-dojo-attach-point="basicControlsNode" class="num-splashPane" style="display:none">
  <div data-dojo-attach-point="decorationNode" style="padding-top:40px;">
    <div class="num-centeredLinks">
      Character Creation Utility | <a href="cyphergen.html">Cypher Generator</a> |
      <a data-dojo-attach-event="onClick:showHelp" class="num-infoLink"><i
        class="fa fa-question-circle"></i></a>
    </div>
    <a href="http://www.numenera.com" class="num-mainTitle">NumenérA<span class="num-tm">&trade;</span></a>
    <div class="num-blurb">Character Creation Utility</div>
  </div>
  <div data-dojo-attach-point="phrase_pane">
    <table cellspacing="0" cellpadding="10"
      style="margin-left: auto; margin-right: auto;"
      class="cg-phraseSelectors">
      <tr>
        <td><input data-dojo-attach-point="characterNameInput"
          type="text" value="${manager.DEFAULT_CHARACTER_NAME}"
          spellcheck="false"
          class="cg-splashCharacterNameInput num-valueNotSet" /></td>
      </tr>
      <tr>
        <td align="center">is <span
          data-dojo-attach-point="articleNode">an</span> 
        </td>
      <tr>
        <td><select class="cg-desc"
          data-dojo-attach-point="descriptorSelect"
          data-dojo-attach-event="onChange:selectDescriptor">
            <option value="">adjective</option>
        </select> <select class="cg-type" data-dojo-attach-point="typeSelect"
          data-dojo-attach-event="onChange:selectType">
            <option value="">noun</option>
        </select> who <select class="cg-focus"
          data-dojo-attach-point="focusSelect"
          data-dojo-attach-event="onChange:selectFocus">
            <option value="">verbs</option>
        </select><span>.</span></td>
      </tr>
    </table>
    <div>
      <div class="num-whiteKnot"></div>
      <button data-dojo-type="dijit/form/Button"
        data-dojo-attach-event="onClick:openCharacter">Remembered Heroes</button>
    </div>
    <div data-dojo-attach-point="debugNode"></div>
    <div style="width:850px;margin-left:auto;margin-right:auto;">
      <div class="num-copyright" style="width:850px;position:absolute;bottom:10px;">
      <span style="cursor:pointer" data-dojo-attach-event="onClick:showLicenses">
        Numenera and its logo are trademarks of Monte Cook Games, LLC in
        the U.S.A. and other countries. All Monte Cook Games characters
        and character names, and the distinctive likenesses thereof, are
        trademarks of Monte Cook Games, LLC. Content derived from Monte
        Cook Games publications is © 2013 Monte Cook Games, LLC. <br/>The
        Character Creation Utility is an unofficial project by Petteri
        Sulonen.</span> • <a class="num-versionInfo"
          data-dojo-attach-event="onClick:showLicenses">Licenses</a> • <span
          class="num-versionInfo"> <a
          data-dojo-attach-event="onClick:showChangeLog">Version
            ${manager.version}</a>
        </span>
      </div>
    </div>
  </div>
</div>
