<div data-dojo-attach-point="basicControlsNode" class="num-splashPane">
  <div data-dojo-attach-point="decorationNode"
    style="padding-top: 40px;">
    <div class="num-centeredLinks" data-dojo-attach-point="moduleControlsNode">
    </div>
    <a class="num-mainTitle">NumenérA<span
      class="num-tm">&trade;</span></a>
    <div class="num-blurb">Character Creation Utility</div>
  </div>
  <div data-dojo-attach-point="phrase_pane">
    <table cellspacing="0" cellpadding="10"
      style="margin-left: auto; margin-right: auto;"
      class="cg-phraseSelectors">
      <tr>
        <td><input data-dojo-attach-point="characterNameInput"
          type="text" value="${manager.DEFAULT_CHARACTER_NAME}"
          spellcheck="false"
          class="cg-splashCharacterNameInput num-valueNotSet" /></td>
      </tr>
      <tr>
        <td align="center">is <span
          data-dojo-attach-point="articleNode">an</span>
        </td>
      <tr>
        <td><select class="cg-desc"
          data-dojo-attach-point="descriptorSelect"
          data-dojo-attach-event="onChange:selectDescriptor">
            <option value="">adjective</option>
        </select> <select class="cg-type" data-dojo-attach-point="typeSelect"
          data-dojo-attach-event="onChange:selectType">
            <option value="">noun</option>
        </select> who <select class="cg-focus"
          data-dojo-attach-point="focusSelect"
          data-dojo-attach-event="onChange:selectFocus">
            <option value="">verbs</option>
        </select><span>.</span></td>
      </tr>
    </table>
    <div>
      <div class="num-whiteKnot"
        data-dojo-attach-event="onClick:switchOrigin"></div>
      <button data-dojo-type="dijit/form/Button"
        data-dojo-attach-event="onClick:openCharacterStore">Remembered
        Heroes</button>
    </div>
    <div style="width: 700px; margin-left: auto; margin-right: auto;">
      <div class="num-copyright"
        style="position: absolute; bottom: 10px; margin-left: auto; margin-right: auto;cursor: pointer;" data-dojo-attach-event="onClick:showLicenses">
        <span>${controller.copyright}</span> • Version
        <span>${controller.version}</span>
      </div>
    </div>
  </div>
</div>
