<tr class="cg-tierRow">
  <td class="cg-smallCell" style="text-align:center">
    <h3>Tier ${tier}</h3>
  </td>
  <td>
    <div data-dojo-attach-point="freeBenefitsNode">
      <h3 style="display:none;" data-dojo-attach-point="tierPerkTitleNode">${specialAbilityName}</h3>
      <ul data-dojo-attach-point="characterTierAbility">
      </ul>
    </div>
    <h3 style="display:none;" data-dojo-attach-point="bonusPerksTitleNode">Other Benefits</h3>
    <ul data-dojo-attach-point="bonusPerksNode"></ul>
    <div data-dojo-attach-point="purchasedBenefitsNode" style="display:none">
      <h3>Purchased Benefits</h3>
      <ul>
        <li>
          <div style="vertical-align:bottom;">
            Raise: <label><input class="cg-storeMe" type="checkbox" data-dojo-attach-point="pool_checkbox"/> Pools</label>
            <label><input class="cg-storeMe" type="checkbox" data-dojo-attach-point="edge_checkbox"/> Edge</label>
            <label><input class="cg-storeMe" type="checkbox" data-dojo-attach-point="effort_checkbox"/> Effort</label>
          </div>
        </li>
        <li>
          <div>
            <select class="cg-storeMe" data-dojo-attach-point="skillTypeSelector" data-dojo-attach-event="onChange:checkSkillType">
              <option>-- choose --</option>
              <option>Trained:</option>
              <option>Reduce Armor Cost</option>
              <option>Recovery +2</option>
              <option>${specialAbilityName}</option>
            </select>
          </div>
        </li>
        <li data-dojo-attach-point="skillInputContainer" style="display:none;">
          <div>
            <input type="text" class="cg-storeMe cg-itemInput cg-valueNotSet" data-dojo-attach-point="skillInput" value="${DEFAULT_SKILL_NAME}" data-dojo-attach-event="onFocus:onFocusSkillInput,onBlur:onBlurSkillInput"/>
          </div>
        </li>
        <li data-dojo-attach-point="perkSelectorContainer" style="display:none;">
          <div>
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <select class="cg-storeMe" data-dojo-attach-point="perkSelector">
                    <option>-- choose --</option>
                  </select>
                </td>
                <td>
                  <div data-dojo-attach-point="unlockControlNode" style="display:none"></div>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
    
  </td>
  <td class="cg-smallCell">
    <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:applyAdvancement" data-dojo-attach-point="applyButton" class="cg-blueButton">Apply</button>
  </td>
</tr>