<div class="num-mainWidget" style="display:none">
  <!--  Main buttons, floating -->
  <div data-dojo-attach-point="characterGeneratorPane"
    data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-props="gutters:false"
    style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'top'" data-dojo-attach-point="headerPane"
      style="height: 150px; overflow: hidden;">
      <div class="">
        <div style="text-align: center">
          <div data-dojo-attach-point="basicControlsNode">
            <div data-dojo-attach-point="phrase_pane">
              <table width="100%" data-dojo-attach-point="controlsNode"
                class="" style="margin-left: auto; margin-right: auto;">
                <tbody>
                  <tr>
                    <td align="left" width="20%">
                    </td>
                    <td>
                      <a href="http://www.numenera.com" class="num-smallTitle">NumenérA&trade;</a>
                    </td>
                    <td align="right" width="20%">
                      <div class="num-linkNode">
                        <a data-dojo-attach-point="helpButton"
                          data-dojo-attach-event="onClick:showHelp"
                          class="num-infoLink"><i
                          class="fa fa-question-circle"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table width="100%">
                <tbody>
                  <tr valign="top">
                    <td align="left" width="10%">
                      <button data-dojo-type="dijit/form/Button"
                        class="num-redButton"
                        data-dojo-attach-event="onClick:clearAll"
                        data-dojo-attach-point="clearButton">
                        <i class="fa fa-refresh"></i> Clear</button>
                    </td>
                    <td align="center">
                      <div class="cg-characterNameInputBox">
                        <input data-dojo-attach-point="characterNameInput"
                          type="text" value="${DEFAULT_CHARACTER_NAME}"
                          spellcheck="false"
                          class="cg-storeMe cg-characterNameInput num-valueNotSet" />
                      </div>
                    </td>
                    <td align="right" width="10%">
                      <button data-dojo-type="dijit/form/Button"
                        class="num-blueButton"
                        data-dojo-attach-point="finalizeButton"
                        data-dojo-attach-event="onClick:finalize">Advance <i class="fa fa-angle-double-up"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div data-dojo-attach-point="phraseSelectorNode"
                class="cg-phraseSelectors">
                <span class="">the </span><select class="cg-desc"
                  data-dojo-attach-point="descriptorSelect"
                  data-dojo-attach-event="onChange:selectDescriptor">
                  <option value="">adjective</option>
                </select> <select class="cg-type"
                  data-dojo-attach-point="typeSelect"
                  data-dojo-attach-event="onChange:selectType">
                  <option value="">noun</option>
                </select> who <select class="cg-focus"
                  data-dojo-attach-point="focusSelect"
                  data-dojo-attach-event="onChange:selectFocus">
                  <option value="">verbs</option>
                </select>
              </div>
              <div class="cg-selectedPhrase"
                data-dojo-attach-point="phraseDisplayNode"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'center'"
      data-dojo-attach-point="dataPane">
      <div data-dojo-type="dijit/layout/TabContainer"
        data-dojo-attach-point="mainTabContainer"
        data-dojo-props="tabStrip:false,persist:false"
        class="num-mainTabContainer">
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Description'"
          data-dojo-attach-point="descriptionPane">
          <div class="cg-resultsPane num-mainWidgetContent">
            <img
              data-dojo-type="primejunta/cypher/chargen/_CharacterPortrait"
              data-dojo-props="portraitHome:'${portraitHome}',portraits:76"
              data-dojo-attach-point="portraitWidget" />
            <h2 data-dojo-attach-point="description_text_label">Background</h2>
            <textarea data-dojo-attach-point="description_text"
              class="num-inputTextArea"
              data-dojo-type="dijit/form/Textarea"
              data-dojo-attach-event="onKeyUp:connectTextareaListener,onChange:descriptionUpdated"></textarea>
            <h2>Notes</h2>
            <textarea data-dojo-attach-point="notes_text"
              class="num-inputTextArea"
              data-dojo-type="dijit/form/Textarea"
              data-dojo-attach-event="onKeyUp:connectTextareaListener,onChange:descriptionUpdated"></textarea>
          </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Statistics'"
          data-dojo-attach-point="statsPane">
          <div data-dojo-type="primejunta/cypher/chargen/_StatsPane" data-dojo-attach-point="statsControl"></div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Possessions'">
          <div class="cg-resultsPane num-mainWidgetContent">
            <h2 data-dojo-attach-point="cypher_list_label">Cyphers</h2>
            <ul data-dojo-attach-point="cypher_list"></ul>
            <h2 data-dojo-attach-point="equipment_list_label">Starting
              Possessions</h2>
            <ul data-dojo-attach-point="equipment_list"></ul>
            <h2>Extra Possessions</h2>
            <textarea data-dojo-attach-point="extra_equipment_text"
              class="num-inputTextArea"
              data-dojo-type="dijit/form/Textarea"
              data-dojo-attach-event="onKeyUp:connectTextareaListener,onChange:descriptionUpdated"></textarea>
          </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Abilities'"
          data-dojo-attach-point="abilityPane">
          <div class="cg-resultsPane num-mainWidgetContent">
            <h2 data-dojo-attach-point="ability_list_label">Skills</h2>
            <ul data-dojo-attach-point="ability_list"></ul>
            <h2 data-dojo-attach-point="inability_list_label"
              style="display: none;">Inabilities and Drawbacks</h2>
            <ul data-dojo-attach-point="inability_list"></ul>
            <h2 data-dojo-attach-point="bonus_list_label"
              style="display: none;">Special Abilities</h2>
            <ul data-dojo-attach-point="bonus_list"></ul>
            <h2 data-dojo-attach-point="special_list_label"></h2>
            <ul data-dojo-attach-point="special_list"></ul>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'bottom'" class="num-footer"
      data-dojo-attach-point="footerNode">
      <div class="num-copyright">
        <span style="cursor:pointer" data-dojo-attach-event="onClick:showLicenses">
        Numenera and its logo are trademarks of Monte Cook Games, LLC in
        the U.S.A. and other countries. All Monte Cook Games characters
        and character names, and the distinctive likenesses thereof, are
        trademarks of Monte Cook Games, LLC. Content derived from Monte
        Cook Games publications is © 2013 Monte Cook Games, LLC. <br />The
        Character Creation Utility is an unofficial project by Petteri
        Sulonen.</span> • <a class="num-versionInfo"
          data-dojo-attach-event="onClick:showLicenses">Licenses</a> • <span
          class="num-versionInfo"> <a
          data-dojo-attach-event="onClick:showChangeLog">Version
            ${version}</a>
        </span>
      </div>
      <div style="display: none">
        <!--  message node  -->
        <div data-dojo-type="dijit/Dialog"
          data-dojo-attach-point="messageDialog"
          data-dojo-props="title:'Character Creation Utility'">
          <div class="num-dialogContent"
            data-dojo-attach-point="messageContentNode"></div>
          <div style="text-align: right;">
            <button data-dojo-type="dijit/form/Button"
              data-dojo-attach-event="onClick:hideMessage">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cg-floatingButtonContainer"
    data-dojo-attach-point="mainButtonsNode" style="">
    <div class="cg-floatingButtonContent">
      <div class="cg-leftButtonsNode">
        <button data-dojo-attach-point="printButton"
          data-dojo-type="dijit/form/Button"
          data-dojo-attach-event="onClick:showPrintView"
          class="num-smallButton">
          <i class="fa fa-print"></i>
        </button>
        <button data-dojo-attach-point="playViewButton"
          data-dojo-type="dijit/form/Button"
          data-dojo-attach-event="onClick:showPlayView"
          class="num-smallButton">
          <i class="fa fa-fullscreen"></i>
        </button>
      </div>
      <div class="cg-rightButtonsNode">
        <button data-dojo-attach-point="customizeButtonNode"
          class="num-smallButton"></button>
        <button data-dojo-type="dijit/form/Button"
          data-dojo-attach-event="onClick:openCharacter"><i class="fa fa-folder-open"></i></button>
        <button data-dojo-attach-point="saveButton"
          data-dojo-type="dijit/form/Button"
          data-dojo-attach-event="onClick:pleaseStoreCharacter"
          class="num-smallButton" disabled="true">
          <i class="fa fa-save"></i>
        </button>
      </div>
    </div>
  </div>
</div>