<div class="cg-characterGenerator" style="display: none;">
  <!--  Main buttons, floating -->
  <div class="cg-characterGeneratorContent"
    data-dojo-attach-point="mainButtonsNode" style="visibility: hidden">
    <div class="cg-mainButtonsNode " style="z-index: 99999">
      <button data-dojo-attach-point="printButton"
        data-dojo-type="dijit/form/Button"
        data-dojo-attach-event="onClick:makePrint" class=""
        disabled="true"><i class="icon-print"></i></button>
      <button data-dojo-attach-point="saveButton"
        data-dojo-type="dijit/form/Button"
        data-dojo-attach-event="onClick:storeCharacter"
        disabled="true"><i class="icon-save"></i></button>
    </div>
  </div>
  <div data-dojo-attach-point="characterGeneratorPane"
    data-dojo-type="dijit/layout/BorderContainer"
    data-dojo-props="gutters:false"
    style="width: 100%; height: 100%; margin-left: auto; margin-right: auto; visibility: hidden;">
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'top'" data-dojo-attach-point="headerPane"
      style="height: 150px; overflow: hidden;">
      <div class="cg-characterGeneratorContent">
        <div style="text-align: center">
          <div data-dojo-attach-point="basicControlsNode">
            <div data-dojo-attach-point="phrase_pane">
              <table width="100%" data-dojo-attach-point="controlsNode"
                class="" style="margin-left: auto; margin-right: auto;">
                <tbody>
                  <tr>
                    <td align="left" width="25%"></td>
                    <td><a href="http://www.numenera.com"><img
                        src="${iconSrc}/Numenera_Logo_neg.png"
                        alt="Numenera"
                        style="border: none; height: 40px; width: auto; margin-top: 8px;" /></a>
                    </td>
                    <td align="right" width="25%">
                      <div class="cg-linkNode">
                        <a data-dojo-attach-point="helpButton"
                          data-dojo-attach-event="onClick:showHelp"
                          class="cg-infoLink"><i class="icon-question-sign"></i></a>
                        &nbsp;&nbsp;&nbsp;
                        <a data-dojo-attach-point="linkNode">Share ➤</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="cg-characterNameInputBox">
                <input data-dojo-attach-point="characterNameInput"
                  type="text" value="${DEFAULT_CHARACTER_NAME}"
                  spellcheck="false"
                  class="cg-storeMe cg-characterNameInput cg-valueNotSet" />
              </div>
              <div data-dojo-attach-point="phraseSelectorNode"
                class="cg-phraseSelectors">
                <span class="">the </span><select class="cg-desc"
                  data-dojo-attach-point="descriptorSelect"
                  data-dojo-attach-event="onChange:selectDescriptor">
                  <option value="">adjective</option>
                </select> <select class="cg-type"
                  data-dojo-attach-point="typeSelect"
                  data-dojo-attach-event="onChange:selectType">
                  <option value="">noun</option>
                </select> who <select class="cg-focus"
                  data-dojo-attach-point="focusSelect"
                  data-dojo-attach-event="onChange:selectFocus">
                  <option value="">verbs</option>
                </select>
              </div>
              <div class="cg-selectedPhrase"
                data-dojo-attach-point="phraseDisplayNode"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'center'"
      data-dojo-attach-point="dataPane">
      <div data-dojo-type="dijit/layout/TabContainer"
        data-dojo-attach-point="mainTabContainer"
        data-dojo-props="tabStrip:false,persist:false" class="cg-mainTabContainer">
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Statistics'"
          data-dojo-attach-point="statsPane">
          <div class="cg-resultsPane">
            <h2>Statistics</h2>
          </div>
          <div class="cg-statsPane cg-characterGeneratorContent">
            <table cellspacing="0" cellpadding="10" width="100%"
              class="cg-statisticsTable">
              <tbody>
                <tr class="cg-statisticsTop">
                  <td>Free</td>
                  <td align="right">Pool</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="free_pool" size="3" /></td>
                  <td align="right">Edge</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="free_edge" size="3" /></td>
                </tr>
                <tr>
                  <td>Might</td>
                  <td align="right">Pool</td>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="decrement_might_pool"><i class="icon-chevron-down"></i></button>
                        </td>
                        <td><input class="cg-storeMe cg-statInput"
                          type="number" readonly="readonly"
                          data-dojo-attach-point="might_pool" size="3" /></td>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="increment_might_pool"><i class="icon-chevron-up"></i></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="right">Edge</td>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="decrement_might_edge"><i class="icon-chevron-down"></i></button>
                        </td>
                        <td><input class="cg-storeMe cg-statInput"
                          type="number" readonly="readonly"
                          data-dojo-attach-point="might_edge" size="3" />
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="increment_might_edge"><i class="icon-chevron-up"></i></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>Speed</td>
                  <td align="right">Pool</td>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="decrement_speed_pool"><i class="icon-chevron-down"></i></button>
                        </td>
                        <td><input class="cg-storeMe cg-statInput"
                          type="number" readonly="readonly"
                          data-dojo-attach-point="speed_pool" size="3" /></td>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="increment_speed_pool"><i class="icon-chevron-up"></i></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="right">Edge</td>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="decrement_speed_edge"><i class="icon-chevron-down"></i></button>
                        </td>
                        <td><input class="cg-storeMe cg-statInput"
                          type="number" readonly="readonly"
                          data-dojo-attach-point="speed_edge" size="3" /></td>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="increment_speed_edge"><i class="icon-chevron-up"></i></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="cg-statisticsMiddle">
                  <td>Intellect</td>
                  <td align="right">Pool</td>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="decrement_intellect_pool"><i class="icon-chevron-down"></i></button>
                        </td>
                        <td><input class="cg-storeMe cg-statInput"
                          type="number" readonly="readonly"
                          data-dojo-attach-point="intellect_pool"
                          size="3" /></td>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="increment_intellect_pool"><i class="icon-chevron-up"></i></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="right">Edge</td>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="decrement_intellect_edge"><i class="icon-chevron-down"></i></button>
                        </td>
                        <td><input class="cg-storeMe cg-statInput"
                          type="number" readonly="readonly"
                          data-dojo-attach-point="intellect_edge"
                          size="3" /></td>
                        <td width="5">
                          <button class="cg-adjustButton"
                            data-dojo-type="dijit/form/Button"
                            data-dojo-attach-point="increment_intellect_edge"><i class="icon-chevron-up"></i></button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr class="cg-statisticsBottom">
                  <td></td>
                  <td align="right">Tier</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="character_tier" value="1"
                    size="3" /></td>
                  <td align="right">Effort</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="character_effort" value="1"
                    size="3" /></td>
                </tr>
                <tr class="cg-statisticsBottom">
                  <td></td>
                  <td align="right">Shins</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    data-dojo-attach-point="shin_count" size="3" /></td>
                  <td align="right">Cyphers</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="cypher_count" size="3" /></td>
                </tr>
                <tr class="cg-statisticsBottom cg-statisticsBottomRow">
                  <td></td>
                  <td align="right">Armor bonus</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="armor_bonus" size="3" /></td>
                  <td align="right">Recovery bonus</td>
                  <td align="center"><input
                    class="cg-storeMe cg-statInput" type="number"
                    readonly="readonly"
                    data-dojo-attach-point="recovery_roll" size="3" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Possessions'">
          <div class="cg-resultsPane cg-characterGeneratorContent">
            <h2 data-dojo-attach-point="cypher_list_label">Cyphers</h2>
            <ul data-dojo-attach-point="cypher_list"></ul>
            <h2 data-dojo-attach-point="equipment_list_label">Starting
              Possessions</h2>
            <ul data-dojo-attach-point="equipment_list"></ul>
            <h2>Extra Possessions</h2>
            <textarea data-dojo-attach-point="extra_equipment_text"
              class="cg-inputTextArea"
              data-dojo-type="dijit/form/Textarea"
              data-dojo-attach-event="onKeyUp:connectTextareaListener,onChange:descriptionUpdated"></textarea>
          </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
          data-dojo-props="title:'Abilities',selected:true" data-dojo-attach-point="abilityPane">
          <div class="cg-resultsPane cg-characterGeneratorContent">
            <h2 data-dojo-attach-point="ability_list_label">Skills</h2>
            <ul data-dojo-attach-point="ability_list"></ul>
            <h2 data-dojo-attach-point="inability_list_label"
              style="display: none;">Inabilities and Drawbacks</h2>
            <ul data-dojo-attach-point="inability_list"></ul>
            <h2 data-dojo-attach-point="bonus_list_label"
              style="display: none;">Special Abilities</h2>
            <ul data-dojo-attach-point="bonus_list"></ul>
            <h2 data-dojo-attach-point="special_list_label"></h2>
            <ul data-dojo-attach-point="special_list"></ul>
            <h2 data-dojo-attach-point="description_text_label">Background</h2>
            <textarea data-dojo-attach-point="description_text"
              class="cg-inputTextArea"
              data-dojo-type="dijit/form/Textarea"
              data-dojo-attach-event="onKeyUp:connectTextareaListener,onChange:descriptionUpdated"></textarea>
            <h2>Notes</h2>
            <textarea data-dojo-attach-point="notes_text"
              class="cg-inputTextArea"
              data-dojo-type="dijit/form/Textarea"
              data-dojo-attach-event="onKeyUp:connectTextareaListener,onChange:descriptionUpdated"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane"
      data-dojo-props="region:'bottom'" class="cg-footer"
      data-dojo-attach-point="footerNode">
      <div class="cg-characterGeneratorContent">
        <div>
          <table width="100%" cellspacing="0" cellpadding="0" style="margin-top:5px;">
            <tbody>
              <tr>
                <td width="15%">
                  <button data-dojo-type="dijit/form/Button"
                    class="cg-redButton"
                    data-dojo-attach-event="onClick:clearAll"
                    data-dojo-attach-point="clearButton"><i class="icon-refresh"></i> Clear</button>
                </td>
                <td align="center">
                  <button data-dojo-type="dijit/form/Button"
                    data-dojo-attach-event="onClick:openCharacter">Remembered Heroes</button>
                </td>
                <td align="right" width="15%">
                  <button data-dojo-type="dijit/form/Button"
                    class="cg-blueButton"
                    data-dojo-attach-point="finalizeButton"
                    data-dojo-attach-event="onClick:finalize"><i class="icon-double-angle-up"></i> Advance</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="cg-copyright">
        Numenera is &copy; <a href="http://www.montecookgames.com/">Monte
          Cook Games LLC</a>. The Character Creation Utility is an
        unofficial project by Petteri Sulonen. • <span
          class="cg-versionInfo"> <a
          data-dojo-attach-event="onClick:showChangeLog">Version
            ${version}</a>
        </span>
      </div>
      <div style="display: none">
        <!--  message node  -->
        <div data-dojo-type="dijit/Dialog"
          data-dojo-attach-point="messageDialog"
          data-dojo-props="title:'Character Creation Utility'">
          <div class="cg-dialogContent"
            data-dojo-attach-point="messageContentNode"></div>
          <div style="text-align: center;">
            <button data-dojo-type="dijit/form/Button"
              data-dojo-attach-event="onClick:hideMessage">OK</button>
          </div>
        </div>
        <div data-dojo-type="dijit/Dialog"
          data-dojo-attach-point="characterManagerDialog"
          data-dojo-props="title:'Saved Characters'">
          <div class="cg-dialogContent">
            <div data-dojo-attach-point="characterManagerContentNode">
            </div>
            <table width="100%">
              <tr>
                <td><button data-dojo-type="dijit/form/Button"
                    data-dojo-attach-event="onClick:displayCharacterLinks">List links</button></td>
                <td align="right">
                  <button data-dojo-type="dijit/form/Button"
                    data-dojo-attach-event="onClick:closeCharacterManager">Close</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>