<div class="cg-characterGenerator">
  <div class="cg-characterGeneratorPane" data-dojo-attach-point="characterGeneratorPane">
    <div style="text-align:center">
      <a href="http://www.numenera.com"><img src="${iconSrc}/Numenera_Logo.png" alt="Numenera" style="border:none"/></a>
      <div class="cg-blurb">Character Creation Utility</div>
      <div class="cg-characterGeneratorContent">
        <div data-dojo-attach-point="phrase_pane" style="margin-bottom:20px;">
          <table cellspacing="10" cellpadding="0" style="margin-left:auto;margin-right:auto;">
            <tr>
              <td><input data-dojo-attach-point="characterNameInput" type="text" value="a hero of the Ninth World" class="cg-characterNameInput cg-valueNotSet"/></td>
            </tr>
            <tr>
            <td align="center">
              is <span data-dojo-attach-point="articleNode">an</span> 
            </td>
            <tr>
            <td>
              <select class="cg-desc" data-dojo-attach-point="descriptorSelect"
              data-dojo-attach-event="onchange:selectDescriptor">
              <option value="">adjective</option>
            </select> <select class="cg-type" data-dojo-attach-point="typeSelect"
              data-dojo-attach-event="onchange:updateValues">
              <option value="">noun</option>
            </select> who <select class="cg-focus" data-dojo-attach-point="focusSelect"
              data-dojo-attach-event="onchange:updateValues">
              <option value="">verbs</option>
            </select>.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
      <div data-dojo-attach-point="result_pane" style="display : none;" class="cg-resultsPane">
        <table cellspacing="0" cellpadding="10" width="100%" style="background-color:#FFEBCC">
          <tbody >
            <tr style="background-color:#e4e4e4;color:gray;">
              <th>Free</th>
              <td align="right">
                Pool
              </td>
              <td>
                <input type="text" readonly="readonly"
                data-dojo-attach-point="free_pool" size="3" />
              </td>
              <td align="right">
                Edge
              </td>
              <td>
                <input type="text" readonly="readonly"
                data-dojo-attach-point="free_edge" size="3" />
              </td>
            </tr>
            <tr>
              <th>Might</th>
              <td align="right">
                Pool
              </td>
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <input type="text" readonly="readonly"
                        data-dojo-attach-point="might_pool" size="3" />
                    </td>
                    <td width="5">
                      <button data-dojo-attach-point="increment_might_pool">▲</button>
                      <button data-dojo-attach-point="decrement_might_pool" disabled="true">▼</button>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="right">
                Edge
              </td>
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <input type="text" readonly="readonly"
                        data-dojo-attach-point="might_edge" size="3" />
                    </td>
                    <td width="5">
                      <button data-dojo-attach-point="increment_might_edge">▲</button>
                      <button data-dojo-attach-point="decrement_might_edge" disabled="true">▼</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <th>Speed</th>
              <td align="right">
                Pool
              </td>
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <input type="text" readonly="readonly"
                        data-dojo-attach-point="speed_pool" size="3" />
                    </td>
                    <td width="5">
                      <button data-dojo-attach-point="increment_speed_pool">▲</button>
                      <button data-dojo-attach-point="decrement_speed_pool" disabled="true">▼</button>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="right">
                Edge
              </td>
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <input type="text" readonly="readonly"
                        data-dojo-attach-point="speed_edge" size="3" />
                    </td>
                    <td width="5">
                      <button data-dojo-attach-point="increment_speed_edge">▲</button>
                      <button data-dojo-attach-point="decrement_speed_edge" disabled="true">▼</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <th>Intellect</th>
              <td align="right">
                Pool
              </td>
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <input type="text" readonly="readonly"
                        data-dojo-attach-point="intellect_pool" size="3" />
                    </td>
                    <td width="5">
                      <button data-dojo-attach-point="increment_intellect_pool">▲</button>
                      <button data-dojo-attach-point="decrement_intellect_pool" disabled="true">▼</button>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="right">
                Edge
              </td>
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <input type="text" readonly="readonly"
                        data-dojo-attach-point="intellect_edge" size="3" />
                    </td>
                    <td width="5">
                      <button data-dojo-attach-point="increment_intellect_edge">▲</button>
                      <button data-dojo-attach-point="decrement_intellect_edge" disabled="true">▼</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="background-color : #d4e4f4;">
              <td> </td>
              <td align="right">Shins</td>
              <td>
                <input type="text" readonly="readonly"
                data-dojo-attach-point="shin_count" size="3" />
              </td>
              <td align="right">Cyphers</td>
              <td>
                <input type="text" readonly="readonly"
                data-dojo-attach-point="cypher_count" size="3" />
              </td>
            </tr>
            <tr style="background-color : #d4e4f4;">
              <td> </td>
              <td align="right">Armor bonus</td>
              <td>
                <input type="text" readonly="readonly"
                data-dojo-attach-point="armor_bonus" size="3" />
              </td>
              <td align="right">Recovery roll: 1d6 + </td>
              <td>
                <input type="text" readonly="readonly"
                data-dojo-attach-point="recovery_roll" size="3" />
              </td>
            </tr>
          </tbody>
        </table>
        <h2 data-dojo-attach-point="equipment_list_label">Equipment</h2>
        <ul data-dojo-attach-point="equipment_list"></ul>
        <h2 data-dojo-attach-point="ability_list_label">Abilities</h2>
        <ul data-dojo-attach-point="ability_list"></ul>
        <h2 data-dojo-attach-point="inability_list_label" style="display : none;">Inabilities and Drawbacks</h2>
        <ul data-dojo-attach-point="inability_list"></ul>
        <h2 data-dojo-attach-point="bonus_list_label" style="display:none;">Special Abilities</h2>
        <ul data-dojo-attach-point="bonus_list"></ul>
        <h2 data-dojo-attach-point="special_list_label"></h2>
        <ul data-dojo-attach-point="special_list"></ul>
        <h2 data-dojo-attach-point="connection_list_label" style="display : none;">Connections</h2>
        <ul data-dojo-attach-point="connection_list"></ul>
        <h2 data-dojo-attach-point="reference_list_label">References</h2>
        <ul data-dojo-attach-point="reference_list"></ul>
        <div class="cg-printButtonContainer">
            <button class="cg-functionButton cg-redButton" data-dojo-attach-event="onClick:clearAll">Clear</button>
            <div class="cg-functionButton">
              <a data-dojo-attach-point="linkNode"></a>
            </div>
            <!-- 
             <button data-dojo-attach-event="onClick:makePrint" class="cg-functionButton">Print</button>
             -->
        </div>
      </div>
  </div>
  <div class="cg-copyright">Numenera is &copy; <a href="http://www.montecookgames.com/">Monte Cook Games LLC</a>. <br/>Character creation utility is an unofficial project by Petteri Sulonen.</div>
  <div class="cg-printContainer" data-dojo-attach-point="printContainer"></div>
</div>