@import url( 'http://fonts.googleapis.com/css?family=Lato|Kreon|Droid+Sans|Prata' );
@import url( '../../../../dijit/themes/tundra/tundra.css');
@import url( '../../../../dojox/mobile/themes/blackberry/Button.css');
@import url( 'charrec.css' );


html, body
{
	margin : 0px;
	padding : 0px;
	font-family : 'Droid sans', 'avant garde', helvetica, helve, arial, sans-serif;
}
body
{
	background-color : #142434;
}
select 
{
	font-size : large;
   font-family : 'Droid sans', 'avant garde', helvetica, helve, arial, sans-serif;
}
.cg-statInput
{
	font-size : 18px;
	height : 36px;
	text-align : center;
}
.cg-adjustButton .dijitButtonNode
{
	font-size : 18px;
	height : 36px;
}
.cg-adjustButton .dijitButtonContents
{
	padding-top : 7px;
}
.dijitDisabled
{
	opacity : 0.4;
}
h1, h2, h3
{
	font-family : Prata;
	font-weight : normal;
}
h1
{
	text-align : center;
}
h1 a
{
	color : black;
	text-decoration : none;
}
h1 a:hover
{
	color : blue;
	text-decoration : underline;
}
th
{
	font-weight : normal;
}
li
{
	line-height : 26px;
}
li div
{
	display : inline-block;
	vertical-align : top;
	width : 750px;
}
.cg-linkNode
{
	padding : 20px;
}
.cg-specialized
{
	font-weight : bold;
	color : #990000;
}
.cg-inputTextArea
{
	width : 800px;
	font-family : 'Droid sans', 'avant garde', sans-serif;
	font-size : 14px;
}
.cg-characterNameInput
{
	text-align : center;
	font-size : large;
	width : 600px;
	padding : 10px;
}
.cg-valueNotSet
{
    color : gray;
    font-style : italic;
}
.cg-itemInput
{
	display : block;
	width : 100%;
	font-size : 14px;
	text-align : left;
}
.cg-baseTextNode
{
	width : 275px;
}
.cg-noJavaScript
{
	padding : 50px;
	color : #e4e4e4;
	width : 700px;
	margin-left:auto;
	margin-right:auto;
}
.cg-noJavaScript a
{
	color : #345c8c;
}
.cg-characterGenerator
{
	width : 100%;
	height : 100%;
	overflow : auto;
    background-color : #142434;
}
.cg-blurb
{
	font-family : Lato;
	font-size : 18px;
	text-transform : uppercase;
	color : gray;
	letter-spacing : 12px;
}
.cg-copyright
{
	width : 900px;
	padding : 20px;
	text-align : center;
	font-size : small;
	margin-left : auto;
	margin-right : auto;
	color : #e4e4e4;
}
.cg-copyright a
{
	color : #345c8c;
}
.cg-characterGeneratorPane
{
	border-radius : 20px;
	width : 900px;
	margin-top : 50px;
	margin-left : auto;
	margin-right : auto;
	padding : 20px 0px 30px 0px;
	opacity : 0.9;
	background-color : white;
}
.cg-characterGeneratorContent
{
	margin-top : 20px;
}
.cg-resultsPane
{
	padding : 30px;
}
.cg-type
{
	
}
.cg-desc
{
	color : #8b1616 !important;
}
.cg-focus
{
	color : #345c8c !important;
}
.cg-printButtonContainer
{
	padding : 20px;
	text-align:center;
}
.cg-printContainer
{
	width : 100%;
	height : 100%;
	display : none;
	background-color : #343434;
	overflow : auto;
}
.cg-functionButton
{
}
.cg-blueButton .dijitButtonNode
{
   background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #446dff),
        color-stop(1.00, #335C99 )
    );
    background-image : -webkit-linear-gradient(to bottom, #446dff 0%, #335C99 100%);
    background-image : linear-gradient(to bottom, #446dff 0%, #335C99 100%);
    border : 1px solid black;
    color : white;
}
.cg-redButton .dijitButtonNode
{
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.00, #ff6d44),
	    color-stop(1.00, #990000 )
	);
    background-image : -webkit-linear-gradient(to bottom, #ff6d44 0%, #990000 100%);
    background-image : linear-gradient(to bottom, #ff6d44 0%, #990000 100%);
	border : 1px solid black;
	color : white;
}
.cg-blueButton .dijitButtonDisabled .dijitButtonNode
{
    background-image : -webkit-linear-gradient(to bottom, #FFFFFF 0%, #335C99 100%);
    background-image : linear-gradient(to bottom, #FFFFFF 0%, #335C99 100%);
}
.cg-closeButton
{
	z-index : 99999;
}
.cg-closeButton .dijitButtonNode
{
	border-radius : 12px;
	height : 20px;
	width : 20px;
}
.cg-warmBackground
{
	background-color : #FFEBCC;
}
.cg-paleBackground
{
	background-color : #e4e4e4;
	color : gray;
}
.cg-highlightBackground
{
	background-color : #d4e4f4;
}
/* character manager */
.cg-characterManager:hover
{
	background-color : #d4e4f4;
	cursor : pointer;
}
/* Workaround Webkit rendering bug: styles not applied to selects at 100% zoom without this. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select 
  {
     background-color : #fefefe;
  }
}