.cr-CharacterRecordBase
{
	font-size : 13px;
}
.cr-CharacterRecordPage1, .cr-CharacterRecordPage2
{
    height : 683px; /* override for screen */
    width : 977px;
}
.cr-heading
{
    margin : 0px;
    margin-bottom : 12px;
    text-transform : uppercase;
    font-size : 14px;
    text-align : center;
}
h2.cr-heading
{
    border-bottom : 1px solid black;
}
.cr-CharacterRecordContent
{
    background-color : white;
    width : 100%;
    height : 100%;
}
.cr-CharacterRecordPage1, .cr-CharacterRecordPage2
{
    margin-left : auto;
    margin-right: auto;
}
.cr-leftFold, .cr-rightFold
{
    width : 33%;
}
.cr-centerFold
{
    border-right : 1px solid black;
    border-left : 1px solid black;
}

.cr-listBox
{
}
.cr-content
{
    margin : 20px;
}
.cr-smallLabel
{
    text-align : center;
    font-family : Prata;
    font-size : 9px;
    text-transform : uppercase;
}
.cr-statBoxContainer
{
    width : 40px;
    text-align : center;
}
.cr-divider
{
    border-top : 1px solid black;
    margin : 20px;
}
.cr-statBox
{
    border : 1px solid black;
    width : 40px;
    height : 30px;
    padding-top : 10px;
    border-radius : 20px;
    text-align : center;
    font-size : 16px;
}
.cr-smallCircle
{
    border : 1px solid black;
    width : 14px;
    height : 14px;
    border-radius : 7px;
}
/* specific elements */
.cr-skills
{
}
.cr-specials
{
}
.cr-stats
{
}
.cr-damage
{
}
.cr-armor
{
    margin-left : auto;
    margin-right : auto;
}
.cr-recovery-rolls
{
    margin-left : auto;
    margin-right : 20px;
}
.cr-attacks
{
}
.cr-cyphers
{
}
.cr-equipment
{
}
.cr-cypherLimitTable
{
}
.cr-background
{
}
.cr-notes
{
}
.cr-frontpage
{
}
.cr-numenera-logo
{
    width : 100%;
    height : auto;
}
.cr-name, .cr-definition
{
    font-size : 20px;
    text-align : center;
    padding : 10px;
    text-transform : capitalize;
}
.cr-name
{
    font-size : 30px;
}
.cr-copyright
{
    font-size : 9px;
    text-align : center;
    position : relative;
    top : 650px;
}
@media screen
{
    .cg-printContainer
    {
       background-color : #343434 !important;
    }
    .cr-CharacterRecordBase
    {
        width : 100%;
        height : 100%;
        overflow : auto;
    }
    .cr-CharacterRecordPage2,.cr-CharacterRecordPage1
    {
        margin-top : 20px;
    }
    .cr-backButton
    {
       display : block;
       text-align : center;
       padding : 20px;
    }
}
@media print
{
    @page 
    {
       size: 297mm 210mm;
       margin : 0cm;
    }
    .cg-noJavaScript, .cr-backButton
    {
        display : none;
    }
    .cr-skills
	{
	    height : 110mm; /* override for screen */
	}
	.cr-copyright
	{
	    top : 193mm; /* override for screen */
	}
	.cr-cyphers 
	{
	   height : 70mm;
	}
    .cr-CharacterRecordPage1, .cr-CharacterRecordPage2
	{
	    height : 205mm; /* override for screen */
	    width : 293mm;
	}
    
    /*
    .cg-printContainer, .cr-CharacterRecordBase
    {
        width : 296mm;
        height : 419mm;
    }
    .cr-CharacterRecordContent, .cr-CharacterRecordPage1, .cr-CharacterRecordPage2
    {
        width : 290mm;
        height : 205mm;
    }
    */
    .cr-pageBreak
    {
        page-break-before : always;
    }
}