/**
 * Shared Numenera stylesheet.
 */
/* Import Dijit theme. */
@import url( '../../../dijit/themes/tundra/tundra.css' );
/* Fonts - these are originally from Google Web Fonts, and are used with permission [ https://developers.google.com/fonts/faq#Download_Fonts ]. */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url( 'fonts/Lato.woff' ) format('woff');
}
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: local('Prata'), local('Prata-Regular'), url( 'fonts/Prata.woff' ) format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: normal;
  src: local('Oxygen'), local('Oxygen-Regular'), url( 'fonts/Oxygen.woff' ) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: bold;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url( 'fonts/Oxygen_Bold.woff' ) format('woff');
}
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: local('CinzelDecorative-Regular'), url( 'fonts/Cinzel_Decorative.woff' ) format('woff');
}
/* HTML elements. */
html, body, .mobile body
{
    margin : 0px;
    padding : 0px;
    width : 100%;
    height : 100%;
    font-family : 'Oxygen', 'avant garde', helvetica, helve, arial, sans-serif !important;
}
.num-splashPane
{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	text-align : center;
}
.num-cloudStorageIcon
{
	background-image : url( '../../gapi/themes/images/Google_Drive_Logo.png' );
	height : 16px;
	width : 16px;
	background-size : cover;
}
body, .mobile body
{
    background-color : #182838;
    background-image : url( 'images/grain.png' );
    font-size : 16px;
}
select 
{
   font-size : 18px;
   font-family : 'Oxygen', 'avant garde', helvetica, helve, arial, sans-serif;
   height : 28px;
   vertical-align : middle;
}
h1, h2, h3
{
    font-family : Prata;
    font-weight : normal;
    text-align : center;	
}
.num-wrapper
{
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100%;
    height : 100%;
}
a.num-mainTitle, a.num-smallTitle
{
	font-family: 'Cinzel Decorative';
	text-decoration : none;
}
a.num-mainTitle
{
	letter-spacing : -6px;
    font-size : 108px;
    margin : 10px 10px 10px 30px;
    color : #282828;
    text-shadow : 0px 0px 10px #ddeeff;
}
a.num-smallTitle
{
	letter-spacing : -2px;
    margin : 5px;
	font-size : 28px;
	color : #d4d4d4;
    text-shadow : 0px 0px 3px #ddeeff;
}
.num-tm
{
	font-size : 64px;
	vertical-align : 32px;
}
.num-mainWidgetContent h1, .num-mainWidgetContent h2, .num-mainWidgetContent h3
{
    color : #424242;
}
h3
{
	text-align : left;
}
h1
{
    text-align : center;
}
h1 a
{
    color : black;
    text-decoration : none;
}
h1 a:hover
{
    color : blue;
    text-decoration : underline;
}
th
{
    font-weight : normal;
}
li
{
    line-height : 32px;
}
li div
{
    display : inline-block;
    vertical-align : top;
}
li td
{
    padding : 0px;
}
select
{
	font-family : Lato, Arial, sans-serif, sans;
}
.num-whiteKnot
{
	width : 100%;
	background-image : url( 'images/knot.png' );
	background-size : auto 75%;
	background-repeat : no-repeat;
	background-position : center;
	height : 100px;
	margin : 40px;
	margin-left : auto;
	margin-right : auto;
	opacity : 0.8;
}
/* base layout elements */
.num-mainWidget
{
    width : 850px;
    height : 100%;
    overflow : hidden;
    margin-left : auto;
    margin-right : auto;
}
.num-mainWidgetPane
{
    border-radius : 20px;
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    padding : 20px 0px 30px 0px;
    background-color : #f5f5f5;
}
.num-mainWidgetContent
{
	width : 700px;
	margin-left : auto;
	margin-right : auto;
}
.num-mainTabContainer .dijitTabContainerTop-tabs
{
	width : 100% !important;
	text-align : center;
}
.num-mainTabContainer .dijitTab
{
	padding : 10px 20px 10px 20px;
	font-family : Lato;
}
.num-noJavaScript
{
    padding : 50px;
    color : #e4e4e4;
    width : 700px;
    margin-left:auto;
    margin-right:auto;
}
.num-noJavaScript a
{
    color : #345c8c;
}
.num-blurb
{
    font-family : Lato;
    font-size : 18px;
    text-transform : uppercase;
    color : gray;
    letter-spacing : 12px;
}
.num-centeredLinks
{
	color : #444444;
	font-family : Lato;
	font-size : 14px;
}
.num-centeredLinks a
{
    color : #747474;
    text-decoration : none;
}
.num-centeredLinks a:hover
{
	color : white;
    text-decoration : underline;
}
.num-linkNode
{
    padding : 10px 20px 0px 0px;
}
.num-linkNode a
{
	color : #e4e4e4;
	font-size : 18px;
	font-family : Lato;
}
a.num-infoLink
{
    text-decoration : none;
    cursor : pointer;
}
.num-inputTextArea
{
    width : 100%;
    font-family : 'Oxygen', 'avant garde', sans-serif;
    font-size : 14px;
}
.num-valueNotSet
{
    color : gray;
    font-style : italic;
}
/* list items */
.num-itemInput
{
    width : 350px;
    display : inline-block;
    font-size : 14px;
    text-align : left;
}
.num-smallInput
{
	width : 30px;
	text-align : center;
}
.num-itemInput:disabled, .num-smallInput:disabled
{
	font-size : 16px;
	color : inherit;
	border : none;
	padding : 0;
	margin : 0;
	background-color : transparent;
	background-image : none;
	text-align:left;
}
.num-baseTextNode
{
}
/* background panes (the td's are included because of an ipad retina rendering glitch) */
.num-warmBackground, .num-warmBackground td
{
    background-color : #FFFFFF;
}
.num-paleBackground, .num-paleBackground td
{
    background-color : #e4e4e4;
}
.num-highlightBackground, .num-highlightBackground td
{
    background-color : #d4d4d4;
}
.num-evenBackground, .num-evenBackground td
{
    background-color : #fcfcfc;
}
.num-oddBackground, .num-oddBackground td
{
    background-color : #fafafa;
}
/* buttons */
.dijitButton
{
    font-size : 18px;
    font-family : Lato;
}
.num-randomizeButton
{
	font-size:14px;line-height:16px;height:18px;vertical-align:2px;
}
.num-blueButton .dijitButtonNode
{
   background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #446dff),
        color-stop(1.00, #335C99 )
    );
    background-image : -webkit-linear-gradient(to bottom, #446dff 0%, #335C99 100%);
    background-image : linear-gradient(to bottom, #446dff 0%, #335C99 100%);
    border : 1px solid #446dff;
    color : white;
}
.num-redButton .dijitButtonNode
{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #ff6d44),
        color-stop(1.00, #990000 )
    );
    background-image : -webkit-linear-gradient(to bottom, #ff6d44 0%, #990000 100%);
    background-image : linear-gradient(to bottom, #ff6d44 0%, #990000 100%);
    border : 1px solid #ff6d44;
    color : white;
}
.num-selectedButton .dijitButtonNode
{
	color : #66C2FF !important;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #303030),
        color-stop(1.00, #606060 )
    ) !important;
    background-image : -webkit-linear-gradient(to bottom, #303030 0%, #606060 100%) !important;
    background-image : linear-gradient(to bottom, #303030 0%, #606060 100%) !important;
    border : 1px solid #484848 !important;
}
.num-blueButton .dijitButtonDisabled .dijitButtonNode
{
    background-image : -webkit-linear-gradient(to bottom, #FFFFFF 0%, #335C99 100%);
    background-image : linear-gradient(to bottom, #FFFFFF 0%, #335C99 100%);
}
.dijitButtonDisabled .num-redIcon, .dijitButtonDisabled .num-blueIcon, .dijitButtonDisabled .num-greenButton
{
	color : silver;
}
.num-redIcon
{
	color : #ff6d44;
}
.num-blueIcon
{
	color : #446dff;
}
.num-grayIcon
{
	color : gray;
}
.num-largeIcon
{
	font-size : 22px;
}
.num-mediumIcon
{
	font-size : 18px;
}
.num-smallIcon
{
	font-size : 13px;
}
.num-greenButton
{
    color : #345C8C;
}
.num-smallButton .dijitButtonNode
{
	width : 30px;
}
/* delete item button */
.num-hiddenControl 
{
    display : none;
    margin-left : 6px;
    width : 24px;
    height : 24px;
    line-height : 24px;
    cursor : pointer;§
    text-decoration : none;
    border : none;
    background-color : transparent;
    vertical-align : top;
}
.num-hoverControls .num-hiddenControl
{
    display : inline-block;
}
.num-hoverControls td.num-hiddenControl
{
    display : table-cell;
}
.num-deleteControl
{
    font-size : 22px;
    color : #990000;
}
.num-deletedItem .num-deletable
{
    opacity : 0.2;
    text-decoration : line-through;
}
.num-deletedItem .num-deletable select
{
   text-decoration : line-through;  
}
/* help and dialogs */
.num-helpDiv
{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	overflow : auto;
	z-index : 99999;
    opacity : 0;
    background-color : #282828;
    background-image : url( images/grain-dark.png );
}
.num-helpPage
{
    border-radius : 20px;
    width : 650px;
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 50px;
    padding : 40px 80px 40px 80px;
    background-color : #f5f5f5;
    color : black;
    box-shadow: 0px 0px 20px #000818;
}
.num-errorMessage
{
	font-weight : bold;
	padding : 10px;
	background-color : pink;
	text-align : center;
}
.num-helpPage li
{
	line-height : 22px;
}
.num-dialogContent 
{
    width : 580px;
    padding : 0 20px 0 20px;
    overflow : auto; 
}
/* footer */
.num-footer
{
	height : 60px;
	overflow : hidden;
}
/* copyright notice */
.num-copyright
{
	font-family : Lato;
    text-align : center;
    font-size : 10px;
    margin-left : auto;
    margin-right : auto;
    padding : 10px 0 0;
    color : #585858;
}
.num-copyright a
{
    color : #345c8c;
}
/* version info */
.num-versionInfo
{
    cursor : pointer;
}

/* Workaround Webkit rendering bug: styles not applied to selects at 100% zoom without this. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select 
  {
     background-color : #fefefe;
  }
}