/**
 * Main Character Generator stylesheet.
 */

/* Import charrec and main theme. */
@import url( '../../themes/cypher.css' );
@import url( 'charrec.css' );
@import url( 'playview.css' );
@import url( 'homebrew.css' );
/* main controls */
.cg-buttonBar
{
	border-color : black;
	text-align : center;
	background-color : #282828;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #000000),
        color-stop(1.00, #282828 )
    ) !important;
    background-image : -webkit-linear-gradient(to bottom, #000000 0%, #282828 100%) !important;
    background-image : linear-gradient(to bottom, #000000 0%, #282828 100%) !important;
}
.cg-buttonBar .mblToolBarButton
{
	border : 1px solid black;
	border-radius : 5px;
	color : #e4e4e4;
	text-shadow : none;
	background-color : #404040;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #282828),
        color-stop(1.00, #404040 )
    ) !important;
    background-image : -webkit-linear-gradient(to bottom, #282828 0%, #404040 100%) !important;
    background-image : linear-gradient(to bottom, #282828 0%, #404040 100%) !important;
}
.cg-buttonBar .mblToolBarButtonSelected
{
    background-color : #808080;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #404040),
        color-stop(1.00, #808080 )
    ) !important;
    background-image : -webkit-linear-gradient(to bottom, #404040 0%, #808080 100%) !important;
    background-image : linear-gradient(to bottom, #404040 0%, #808080 100%) !important;
	
}
.cg-buttonBar .num-framelessButton
{
    background : none !important;
    border-color : transparent !important;
}
.cg-resultsPane
{
    padding : 10px 0 30px 0;
}
.cg-dataRefreshed
{
	color : #446dff;
}
/* stats */
.cg-statsPane
{
    margin-bottom : 20px;
}
.cg-statisticsTable
{
}
.cg-statisticsTop td
{
    border-bottom : 1px solid gray;
}
.cg-statisticsTop td td
{
	border : none;
}
.cg-statisticsBottom
{
}
.cg-statisticsMiddle td
{
    border-bottom : 1px solid gray;
}
.cg-statisticsMiddle td td
{
    border-bottom : none;
}
.cg-thumbnail
{
	margin : 4px;
}
.cg-statInput
{
    font-size : 18px;
    height : 50px;
    width : 50px;
    padding : 0;
    margin : 0;
    background-color : white;
    background-image : none;
    text-align : center;
    border : 1px solid #848484;
    border-radius : 30px;
}
input[readonly].cg-statInput
{
    border : 1px solid #b4b4b4;
    background-color : #f5f5f5;
}
.cg-negative-stat, input[readonly].cg-negative-stat
{
    background-color : #cc0000;
    color : white;
    font-weight : bold;
    border : 1px solid #cc0000;
}

/* various inputs */
.cg-adjustButton .dijitButtonNode
{
    font-size : 24px;
    height : 24px;
    vertical-align : 10px;
    margin : -10px 0 0;
    background : none !important;
    border : none !important;
}
.cg-adjustButton .dijitButtonContents
{
    padding-top : 7px;
}
/* other inputs */
.cg-splashCharacterNameInput
{
    text-align : center;
	border : none;
	padding : 10px;
	width: 680px;
    font-size : large;
    font-family : Prata;
    color : white;
    background-color : #233343;
    background-image : url( '../../themes/images/grain-l.png' );
}
.cg-characterNameInputBox
{
    padding : 0;
    margin : 10px 0 0;
    width:680px;
    background-color : #233343;
    background-image : url( '../../themes/images/grain-l.png' );
}
.cg-characterNameInput
{
	padding : 8px 0 8px;
	border : none;
    text-align : center;
    font-size : large;
    width : 100%;
    font-family : Prata;
    color : white;
    background : none;
}
.cg-phraseSelectors
{
    text-align:center;
    height : 28px;
    padding : 12px 0 4px;
    color : white;
}
.cg-selectedPhrase
{
    text-align : center;
    height : 24px;
    padding : 14px 0 2px 0;
    color : #e4e4e4;
    font-family : Prata;
    font-style : italic;
    display : none;
}
.cg-controlsLocked .cg-phraseSelectors
{
    display : none;
}
.cg-controlsLocked .cg-selectedPhrase
{
    display : block;
}
/* type, descriptor, focus */

/* color codes for type, description, and focus */
.cg-type
{
    color : black !important;
}
.cg-desc
{
    color : #8b1616 !important;
}
.cg-focus
{
    color : #345c8c !important;
}
.cg-mutation
{
    color : #8F4700 !important;
}
.cg-harmful
{
    color : #663300;
}
.cg-cust
{
    color : salmon;
}
/* mutations */
.cg-mutationTextNode
{
    width : 20px;
}
.cg-mutationTextWithSelectNode
{
    width : 65px;
}

/* advancement controls */
.cg-advancementHeader
{
	border-bottom : 1px solid #cccccc;
}
.cg-advancementContent
{
	background-color : #f8f6f4;
}
.cg-advancementTableWrapper
{
	width : 700px;
	height : 100%;
	overflow : auto;
	margin-left : auto;
	margin-right : auto;
}
.cg-advancementTable
{
	border : 1px solid #cccccc;
    margin : 10px 0 10px 0;
}
.cg-tierRow select, .cg-tierRow.input[type=text]
{
    width : 300px;
}
.cg-smallCell
{
    width : 55px;
    padding-right : 15px;
}
td.cg-tierTitleCell
{
    width : 100px;
    background-image : url( '../../themes/images/cloudbg.jpg' );
}
.num-evenBackground .cg-tierTitleCell
{
    opacity : 0.75;
}
.num-evenBackground .cg-tierTitleCell h3
{
    color : black;
}
.cg-tierTitle
{
    text-align : center;
    transform : rotate( -90deg );
    -ms-transform : rotate( -90deg ); /* IE 9 */
    -webkit-transform : rotate( -90deg ); /* Safari and Chrome */
}
.cg-tierContent
{
    padding : 10px;
}
.cg-finalized .num-hiddenControl
{
    display : none !important;
}
/* character manager */
.cg-restoredCharacter
{
	font-weight : bold;
	background-color : #FFFFCC;
}
.cg-characterManager:hover
{
    background-color : #d4e4f4;
    cursor : pointer;
}
/* image container */
.cg-imageContainer
{
    text-align : center;
    margin : 20px;
}
/* GM controls */
.cg-gmControl
{
    visibility : hidden;
}
.gm-controls-enabled .cg-gmControl
{
    visibility : visible;
}
.gm-controls-enabled .cg-gmControlSwitch 
{
   color : #66C2FF !important;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #303030),
        color-stop(1.00, #606060 )
    ) !important;
    background-image : -webkit-linear-gradient(to bottom, #303030 0%, #606060 100%) !important;
    background-image : linear-gradient(to bottom, #303030 0%, #606060 100%) !important;
    border : 1px solid #484848 !important;
    text-shadow : none;
}
.gm-controls-enabled .cg-phraseSelectors
{
    display : block;
}
.gm-controls-enabled .cg-selectedPhrase
{
    display : none;
}
