/**
 * Stylesheet for character record sheet (printable).
 */
 
/* layout */
.cr-CharacterRecordBase
{
    font-size : 12px;
    background-image : url( ../../themes/images/grain-dark.png );
}
.cr-CharacterRecordPage1, .cr-CharacterRecordPage2
{
    height : 683px; /* override for screen */
    width : 977px;
}
.cr-CharacterRecordContent
{
    background-color : white;
    color : black !important;
    width : 100%;
    height : 100%;
}
.cr-CharacterRecordPage1, .cr-CharacterRecordPage2
{
    margin-left : auto;
    margin-right: auto;
}
.cr-leftFold, .cr-rightFold
{
    width : 33%;
}
.cr-centerFold
{
}
.cr-CharacterRecordContent h1, .cr-CharacterRecordContent h2, .cr-CharacterRecordContent h3
{
	color : black !important;
}

/* containers */
.cr-listContent
{
    line-height : 14px;
}
.cr-listBox
{
}
.cr-content
{
    margin : 20px;
}
/* labels and headings */
.cr-heading
{
    margin : 0px;
    margin-bottom : 12px;
    text-transform : capitalize;
    font-size : 14px;
    text-align : center;
}
h2.cr-heading
{
	margin : 0px;
	margin-bottom : -8px;
}
.cr-smallLabel
{
    text-align : center;
    font-family : Prata;
    font-size : 9px;
    text-transform : capitalize;
}
.cr-hrule
{
	width : 100%;
	height : 1px;
}
.cr-vRuleCell
{
	width : 2px;
	padding : 0px;
}
.cr-vrule
{
	width : 1px;
	height: 100%;
}
/* stats */
.cr-statBoxContainer
{
    width : 40px;
    text-align : center;
}
.cr-statBox
{
    border : 1px solid black;
    width : 40px;
    height : 30px;
    padding-top : 10px;
    border-radius : 30px;
    text-align : center;
    font-size : 16px;
}
.cr-smallCircle
{
    border : 1px solid black;
    width : 14px;
    height : 14px;
    border-radius : 7px;
}
/* specific elements */
.cr-skills
{
}
.cr-specials
{
}
.cr-stats
{
}
.cr-damage
{
}
.cr-armor
{
    margin-left : auto;
    margin-right : auto;
}
.cr-recovery-rolls
{
    margin-left : auto;
    margin-right : 20px;
}
.cr-attacks
{
}
.cr-cyphers
{
}
.cr-equipment
{
}
.cr-cypherLimitTable
{
}
.cr-background
{
}
.cr-notes
{
}
.cr-frontpage
{
}
.cr-numenera
{
	text-align : center;
    font-family: 'Cinzel Decorative';
    font-size : 28px;	
}
.cr-name, .cr-definition
{
    font-size : 18px;
    text-align : center;
    text-transform : capitalize;
    padding : 5px 0 5px 0;
}
.cr-name
{
    font-size : 24px;
}
.cr-divider
{
	height : 40px;
}
.cr-copyright
{
	padding : 0px;
    font-size : 6px;
    text-align : center;
    top : 620px;
}
.cr-whiteKnot
{
	text-align:center;
    width : auto;
    height : 30px;
    margin-left : auto;
    margin-right : auto;
}
/* overrides for screen */
@media screen
{
    .cr-CharacterRecordBase
    {
        position:absolute;
        z-index:999;
        width : 100%;
        height : 100%;
        overflow : auto;
    }
    .cr-CharacterRecordPage2,.cr-CharacterRecordPage1
    {
        margin-top : 10px;
        margin-bottom : 10px;
        box-shadow: 0px 0px 20px #000818;
    }
    .cr-uiControl
    {
       display : block;
       text-align : center;
       padding : 20px;
       color : white;
    }
}
/* overrides for print */
@media print
{
    @page 
    {
       size: 297mm 210mm;
       margin : 0cm;
    }
    .num-noJavaScript, .cr-uiControl
    {
        display : none;
    }
    .cr-skills
    {
    }
    .cr-copyright
    {
        top : 183mm; /* override for screen */
    }
    .cr-cyphers 
    {
        height : 30mm;
    }
    .cr-CharacterRecordPage1, .cr-CharacterRecordPage2
    {
        height : 205mm; /* override for screen */
        width : 293mm;
    }
    .cr-listContent
    {
        font-size : 10pt;
        line-height : 14pt;
    }
    .cr-pageBreak
    {
        page-break-before : always;
    }
}