.num-homebrewPane, .num-homebrewPane .dijitBorderContainer, .num-homebrewPane .dijitBorderContainerNoGutter
{
}
.num-homebrewPane .num-copyright
{
    width : 700px;
    padding : 10px 0 0;
}
.num-homebrewPane .dijitTabContainerTop-tabs
{
    width : 100% !important;
    text-align : center;
}
.num-homebrewPane .dijitTab
{
    padding : 10px 20px 10px 20px;
    font-family : Lato;
}
.num-centerLayout
{
    width : 800px;
    height : 100%;
    margin : 0 auto;
    border-right : 1px solid silver;
    background-color : #f8f6f4;
}
.num-moduleControls
{
    overflow-x : hidden;
    width : 250px;
    padding-top:1px !important;
    border-left : 1px solid silver;
    padding-left : 1px !important;
    background-color : #f6eee6;
}
.num-moduleControls .dijitToggleButton
{
    display : block;
    margin : 0;
    width : 100%;
}
.num-moduleControls .dijitButtonNode
{
    width : 212px;
    border-radius : 0;
    background : none;
    font-size : 14px;
    border-color : transparent;
}
.num-moduleContainer.dijitTabPane
{
    background-color : #f6eee6;
}
.num-scrollBarHider
{
    position : absolute;
    top : 0;
    left : 222px;
    width : 30px;
    height : 10000px;
    background-color : #f8f6f4;
    border-left : 1px solid silver;
}
.num-wordWidget
{
    padding : 20px !important;
    font-size : 14px;
    border-right : 1px solid silver;
}
/* Tab styling */
.cg-nestedTabs
{
    margin-left : auto;
    margin-right : auto;
}
.cg-nestedTabs .dijitTabController
{
    background-color : #f6eee6;
    border-bottom : 1px solid silver;
}
.cg-nestedTabs .dijitTabListWrapper .dijitTabContainerTop-tabs
{
    border-bottom : none;
}
.cg-nestedTabs .dijitTabContainerTop-tabs
{
}
.cg-nestedTabs.dijitTabContainer .dijitTab {
    background : transparent;
    border-color : transparent;
    border-radius : 3px;
    padding : 4px 12px 4px 12px;
    margin : 6px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.cg-nestedTabs.dijitTabContainer .dijitTab .tabLabel
{
    color : #901B00;
    text-decoration : underline;
}
.tundra .cg-nestedTabs.dijitTabContainer .dijitTabChecked
{
    border : 1px solid #901b00;
    background-color : #FFAD5C;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.00, #ffe58f),
        color-stop(0.25 #FFAD5C )
    ) !important;
    background-image : -webkit-linear-gradient(to bottom, #ffe58f 0%, #FFAD5C 25%);
    background-image : linear-gradient(to bottom, #ffe58f 0%, #FFAD5C 25%);
    text-decoration : none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.cg-nestedTabs .cg-nestedTabs.dijitTabContainer .dijitTabChecked .tabLabel
{
    color : #383838;
    text-decoration : none;
}

.cg-nestedTabs.dijitTabContainer .dijitTabChecked .tabLabel
{
    color : #383838;
    text-decoration : none;
}
.cg-nestedTabs.dijitTabContainer .dijitTab.dijitHover .tabLabel
{
    color : black;
}
.cg-nestedTabs.dijitTabContainer .dijitTab.dijitHover
{
    background-color : #ffe58f;
}
.num-homebrewTabContainer
{
    width : 1000px;
}
.num-homebrewTabContainer .dijitTabPane
{
    padding : 0;
}
.tundra .num-moduleContainer.dijitTabContainer .dijitTabChecked
{
    border : none;
    border-bottom : 1px solid silver;
    background-color : #f8f6f4;
    border-right-color : #f8f6f4;
    background-image : none;
}
.tundra .num-moduleContainer .dijitTab .tabLabel
{
    color : #808080;
    text-decoration : none;
}
.tundra .num-moduleContainer .dijitTabChecked .tabLabel
{
    color : black;
    text-decoration : none;
}
/* Inputs */
.num-homebrewInput
{
    width : 400px;
}
.cg-fieldControl
{
}
.cg-statControl
{
}
.cg-statControl .cg-fieldControlLabel
{
    width : 150px;
    text-align : right;
}
.cg-statControl .dijitInputInner
{
    text-align : center;
    vertical-align : -20px !important;
}
.cg-statControl .cg-statInput
{
    height : 38px;
    padding : 12px 0 0;
}
.num-itemInput .dijitInputContainer
{
    width : 100%; /* don't know why I have to specify this */
}