<div>
  <div data-dojo-type="dijit/Dialog"
    data-dojo-attach-point="characterManagerDialog"
    data-dojo-props="title:'Character Creation Utility'">
    <div class="num-dialogContent">
      <div style="float: right">
        <button data-dojo-type="dijit/form/Button"
          data-dojo-attach-event="onClick:displayCharacterLinks">
          <i class="fa fa-external-link"></i> Links
        </button>
      </div>
      <h3>Remembered Heroes</h3>
      <p>Click (or tap) to load a remembered hero.</p>
      <div data-dojo-attach-point="characterManagerContentNode"></div>
      <p>Characters will be restored from a backup only if they
        don't already exist. To roll back to a backup, delete the
        character, then restore from the backup. Be sure to take another
        backup first, just in case!</p>
      <div data-dojo-attach-point="cloudBackupNode">
        <h4>
          Google Drive&trade; Sync and Backup <i
            class="fa fa-spinner num-blueIcon"
            data-dojo-attach-point="cloudWorkingIcon"></i>
        </h4>
        <div style="text-align: right" data-dojo-attach-point="authorizeControls">
          <button data-dojo-type="dijit/form/Button"
            data-dojo-props="iconClass:'num-cloudStorageIcon'"
            data-dojo-attach-point="authorizeDriveButton"
            data-dojo-attach-event="onClick:authorizeCloudStorage"
            disabled="disabled">Connect Google Drive</button>
        </div>
        <div data-dojo-attach-point="uploadControls"
          style="display: none">
          <div>
            <label> <input type="checkbox"
              data-dojo-attach-point="syncCheckbox"
              data-dojo-attach-event="onChange:setSyncSwitch" /> Keep my characters synced
            </label>
          </div>
          <div style="text-align:right">
            Backup: <input type="text"
              data-dojo-attach-point="cloudBackupFileNameNode"
              value="My Characters" />
            <button data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="backupToCloudButton"
              data-dojo-attach-event="onClick:backupToCloud"
              disabled="disabled">
              <i class="fa fa-cloud-upload"></i> Backup
            </button>
            <button data-dojo-type="dijit/form/Button"
              data-dojo-attach-point="restoreFromCloudButton"
              data-dojo-attach-event="onClick:restoreFromCloud"
              disabled="disabled">
              <i class="fa fa-cloud-download"></i> Restore
            </button>
          </div>
        </div>

      </div>
      <div data-dojo-attach-point="localBackupNode"
        style="display: none;">
        <h4>File Backup</h4>
        <p style="text-align: right">
          <input type="file" data-dojo-attach-point="uploadControl"
            data-dojo-attach-event="onChange:fileAttached" /> <a
            data-dojo-attach-point="downloadButton"
            data-dojo-type="primejunta/cypher/widget/LinkButton"
            data-dojo-props="iconClass:'fa fa-download'">Download</a>
          <button data-dojo-type="dijit/form/Button"
            data-dojo-attach-point="uploadButton"
            data-dojo-attach-event="onClick:uploadBackup"
            disabled="true">
            <i class="fa fa-upload"></i> Restore
          </button>
        </p>
        <p class="num-errorMessage"
          data-dojo-attach-point="invalidFileMessageNode"
          style="display: none;">
          <i class="fa fa-warning num-redIcon"></i> The file you
          selected does not contain character data.
        </p>
      </div>
    </div>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <button data-dojo-type="dijit/form/Button"
            data-dojo-attach-event="onClick:deleteSelectedCharacters"
            class="num-redButton">
            <i class="fa fa-trash"></i> Delete marked
          </button>
        </td>
        <td align="right">
          <button data-dojo-type="dijit/form/Button"
            data-dojo-attach-event="onClick:close">Close</button>
        </td>
      </tr>
    </table>
  </div>
</div>