<li class="cg-harmful">
  <div>
    <table cellspacing="0" cellpadding="0">
      <tr valign="middle">
        <td class="cg-baseTextNode cg-mutationTextNode">
          ${baseText}
        </td>
        <td>
          <input type="text" data-dojo-attach-point="inputNode"
              class="cg-itemInput cg-storeMe cg-valueNotSet"
              value="${inputValue}"
              data-dojo-attach-event="onKeyDown:normalizeClass,onClick:selectContent,onFocus:selectContent,onChange:dataChanged,onBlur:onBlurInput" />
        </td>
        <td style="padding-bottom : 10px;">
          <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:randomizeMutation" data-dojo-attach-point="randomizeButton" style="font-size:14px;line-height:16px;height:18px;"><i class="icon-beaker"></i></button>
        </td>
      </tr>
    </table>
  </div>
</li>