<li class="cg-${from}">
  <div>
    <table cellspacing="0" cellpadding="0">
      <tr valign="top">
        <td class="cg-baseTextNode cg-mutationTextNode">
          ${baseText}
          <select class="cg-storeMe" data-dojo-attach-point="abilityTypeSelect">
            <option>Ⓔ</option>
            <option>Ⓐ</option>
            <option>ⓐ</option>
          </select>
        </td>
        <td style="padding-top:4px;">
         <input type="text" data-dojo-attach-point="inputNode"
              class="cg-itemInput cg-storeMe cg-valueNotSet"
              value="${inputValue}"
              data-dojo-attach-event="onKeyDown:normalizeClass,onClick:selectContent,onFocus:selectContent,onChange:dataChanged,onBlur:onBlurInput" />
        </td>
      </tr>
    </table>
  </div>
</li>